POSTGRES_DB=maintcloud
POSTGRES_USER=maintcloud
POSTGRES_PASSWORD=maintcloud
POSTGRES_PORT=5432

BACKEND_LOG_LEVEL=INFO

FRONTEND_DEV_PORT=5174
BACKEND_DEV_PORT=8000
PROXY_HTTP_PORT=5173
PROXY_HTTPS_PORT=5443

SERVER_NAME=localhost

FRONTEND_DOCKER_API_BASE_URL=/api
FRONTEND_DEV_API_BASE_URL=http://localhost:8000
